extends layout
block content
  div.text-center
    p SignIn:
    form(method='POST' action='/signin')
      span
        label(for='name') Name:
        input#name.form-control(type='text', placeholder='name' name='name')
      span
        label(for='password') Password:
        input#password.form-control(type='password', placeholder='password' name='password')
      button.btn.btn-primary(type='submit') Submit